
.row{

    background-color: white;

}
#foto-posicion{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
    
}
#titulo{
    text-align: center;
    background-color: grey;
    margin-bottom: 20px;
}
#foto-ref{
    max-width: 18em;
    max-width: 20em;
    min-width: 15em;
    min-width: 12em;
    /*Boxshadow*/
    -moz-box-shadow:4px 4px 4px 4px rgb(112, 162, 148); 
    -webkit-box-shadow:4px 4px 4px 4px rgb(112, 162, 148); 
    box-shadow:4px 4px 4px 4px rgb(112, 162, 148);

}
h1{
    color: white;
    text-shadow: 2px 2px grey;
}
p{
    color: black;
}
h2{
    color:#70A294;

}