.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.material-icons.wheel { 
    color: #FB8C00; 
}
/*personalizar funciones*/
/*reglas para tamaño*/
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
/* reglas para color */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.orange { color: #FB8C00; }
.material-icons.violet { color: #7e57c2; }
.material-icons.negro { color: black; }
/*alineacion*/
.material-icons.centro { vertical-align:middle; }



#wheel-header{

}


#wheel-banner{
  position: absolute;
}

#wheel-foto{
  position: absolute;
  margin-left: 1.5em;
  margin-top: -3em;
  margin-bottom: 0%;
}

#wheel-nombre{
  position: absolute;

  margin-left: 3em;
  margin-top: -0.5em;
  margin-bottom: 0%;


}
#wheel-info{
  position: absolute;

  margin-left:-1em;

}
#wheel-info-text{
  position: absolute;

  margin-left:-1em;

}